.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.App_head {
  display: flex;
  align-items: center;
  gap: 15px;
}
.App_title {
  text-align: center;
  font-size: 50px;
}

.App_subtitle {
  font-size: 30px;
}
.App_subtitle2 {
  font-size: 25px;
  text-align: center;
}
.logoback {
  height: 100px;
  width: 100px;
  border-radius: 25px;
}

.Card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: #181818;
}
.text_card {
  width: 70%;
  line-height: 1.5;
}
.text_card h2 {
  font-size: 22px;
  color: white;
}
.text_card h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
}
.text_card h4 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.493);
}

.img_card {
  width: 30%;
}
.imge {
  width: 100%;
  overflow: hidden;
  display: block;
  border-radius: 20px;
}
